<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SNF API - Admin felület</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ asset(bundle.assets~'css/less.php?env='~bundle.env) }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
	</head>
	<body class="row-fluid">
		<div id="container" class="span12">
			<header>
				<h1>Admin felület</h1>
			</header>
			{{ render(controller('SnfapiApplicationAdminBundle:Admin:asside')) }}
			<section class="span8 row-fluid">
				{% block section %}
					<form novalidate action="{{ path('admin', { page : page }) }}" method="post" {{ form_enctype(form) }}>
						<p class="row-fluid">
							{{ form_errors(form) }}
						</p>
						
						{{ form_widget(form._token) }}
						<div class="row-fluid">
							<div class="row-fluid">
								{{ form_widget(form.id) }}
							</div>
							<div class="row-fluid">
								{{ form_widget(form.fbUid) }}
							</div>
							<div class="row-fluid">
								{{ form_widget(form.userAgent) }}
							</div>
							<div class="row-fluid">
								{{ form_widget(form.ip) }}
							</div>
							<div class="row-fluid">
								{{ form_widget(form.date) }}
							</div>
							<div class="row-fluid">
								{{ form_widget(form.search) }}
							</div>
						</div>
					</form>
				
					<div class="row-fluid">
						<div class="span2 row-fluid"><strong>ID</strong></div>
						<div class="span6 row-fluid"><strong>Facebook ID</strong></div>
						<div class="span4 row-fluid"><strong>Dátum</strong></div>
					</div>
					
					{% for et in result %}
						<div class="row-fluid">
							<div class="span2 row-fluid">{{ et.id }}</div>
							<div class="span6 row-fluid">{{ et.fbUid }}</div>
							<div class="span4 row-fluid">{{ et.date|date('Y-m-d H:i:s') }}</div>
						</div>
					{% endfor %}
					{{ include('SnfapiApplicationAdminBundle:Admin:navigator.html.twig', { page : page, max : max }) }}
				{% endblock %}
			</section>
			<footer class="span12">
				&copy; 2014 - Simon Network
			</footer>
		</div>
	</body>
</html>
