<div class="pagination pagination-centered">
	<ul>
		{% if page - 1 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 1 }) }}">Előző</a>
			</li>
		{% endif %}
		{% if page - 10 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 10 }) }}">{{ page - 10 }}</a>
			</li>
		{% endif %}
		{% if page - 4 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 4 }) }}">{{ page - 4 }}</a>
			</li>
		{% endif %}
		{% if page - 3 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 3 }) }}">{{ page - 3 }}</a>
			</li>
		{% endif %}
		{% if page - 2 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 2 }) }}">{{ page - 2 }}</a>
			</li>
		{% endif %}
		{% if page - 1 > 0 %}
			<li>
				<a href="{{ path('admin' , { page : page - 1 }) }}">{{ page - 1 }}</a>
			</li>
		{% endif %}
		<li class="active">
			<a href="{{ path('admin', { page : page }) }}">{{ page }}</a>
		</li>
		{% if page + 1 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 1 }) }}">{{ page + 1 }}</a>
			</li>
		{% endif %}
		{% if page + 2 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 2 }) }}">{{ page + 2 }}</a>
			</li>
		{% endif %}
		{% if page + 3 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 3 }) }}">{{ page + 3 }}</a>
			</li>
		{% endif %}
		{% if page + 4 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 4 }) }}">{{ page + 4 }}</a>
			</li>
		{% endif %}
		{% if page + 10 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 10 }) }}">{{ page + 10 }}</a>
			</li>
		{% endif %}
		{% if page + 1 <= max %}
			<li>
				<a href="{{ path('admin' , { page : page + 1 }) }}">Következő</a>
			</li>
		{% endif %}
	</ul>
</div>