/* Site */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	a {
		color: #195e7d;
		cursor: pointer;
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	h2 {
		margin: 20px 0 0 20px;
	}
	
	p {
		text-align: justify;
		padding: 20px;
	}
	
	.active {
		text-decoration: underline;
	}
	
	input {
		margin: 5px 0;
		
		&[type="text"], &[type="email"] {
			padding: 5px;
			width: 300px;
		}
	}
	
	input[type="submit"], a.button {
		width: 130px;
		height: 45px;
		line-height: 52px;
		text-align: center;
		border: 0;
		background: url(../images/button.png);
		color: #FFF;
		display: inline-block;
		font-weight: bold;
		box-shadow: 0 3px 10px #CCC;
		border-radius: 15px;
		cursor: pointer;
		
		&:hover {
			background: url(../images/button_active.png);
			text-decoration: none;
			box-shadow: 0 3px 10px #6dbddf;
			border-radius: 15px;
		}
	}
	
	div.button {
		text-align: center;
		margin: 20px 0;
	}

    width: 810px;
    height: 550px;
    //overflow: hidden;
    margin: 0 auto;
	font-family: arial;

	#loader, #msg {
		text-align: center;
		margin: 5px 0;
		padding: 5px 0;
	}
	
	#loader {
		border-bottom: 1px solid #D6D6D6;
	}
	
	#msg {
		display: none;
		
		p {
			text-align: center;
			padding-top: 0;
		}
		
		ul {
			list-style: none;
		}
	}
	
	nav {
		height: 45px;
		line-height: 40px;
		padding: 5px 0;
		background: url(../images/nav.png);
		
		.logo {
			width: 90px;
			position: absolute;
		}
		
		ul {
			list-style: none;
			margin-left: 90px;
			
			li {
				display: inline-block;
				padding: 0 20px 0 20px;
				
				a {
					color: #FFF;
				}
			}
			
			li:last-child {
				margin-left: 141px;
				padding-right: 15px;
			}
		}
		
		ul, img, div {
			display: inline-block;
			vertical-align: middle;
		}
		
		div {
			a {
				position: absolute;
				display: block;
				width: 44px;
				height: 44px;
			}
			
			img {
				width: 44px;
			}
		}
	}
	
	#content-landing {
		.logo {
			text-align: center;
			
			img {
				width: 500px;
			}
		}
		
		div.button {
			margin-top: 60px;
			padding-bottom: 60px;
		}
		
		.iframe {
			width: 560px;
			margin: 40px auto 0 auto;
			
			iframe {
				width: 560px;
				height: 315px;
			}
		}
	}
	
	#content-images {
		.no-images {
			margin-top: 230px;
			text-align: center;
		}
		
		.navigator {
			padding: 5px 0;
			margin: 5px 0;
			text-align: center;
			
			div {
				display: inline-block;
				vertical-align: top;
				width: 403px;
			}
			
			a {
				width: 117px;
				height: 58px;
				display: inline-block;
			}
			
			.prev {
				text-align: left;
				
				a {
					background: url(../images/prev.png);
				}
			}
			
			.next {
				text-align: right;
				
				a {
					background: url(../images/next.png);
				}
			}
		}
	
		.boxes {
			margin: 1px 0 0 8px;
	
			.box {
				display: inline-block;
				margin: 1px 1px 1px -3px;
				width: 265px;
				height: 265px;
				line-height: 265px;
				background: #6dbddf;
				text-align: center;
				vertical-align: top;
				color: #FFF;
				
				.light-layer {
					width: 265px;
					height: 265px;
				}
				
				a, a:hover {
					color: #FFF !important;
					display: block;
					height: 100%;
				}
				
				img {
					max-height: 100%;
					max-width: 100%;
					display: inline-block;
					vertical-align: middle;
				}
				
				.main {
					display: none;
					background: rgba(37, 36, 40, 0.5);
					position: absolute;
					z-index: 2;
					overflow: hidden;
					text-align: left;
					font-size: 15px;
				}
				
				.layer-link {
					position: absolute;
				}
				
				.boxlink {
					position: absolute;
					width: 100%;
					height: 100%;
				}
				
				.layer-main {
					.name {
						font-size: 60px;
						overflow: hidden;
						margin: 75px 0 0 30px;
						height: 70px;
						line-height: 70px;
					}
					
					.action {
						position: absolute;
						bottom: 0;
						right: 0;
						line-height: 32px;
						margin-right: 5px;
						
						a {
							display: inline-block;
							margin: 0 5px;
						}
					}
				}
			}
		}
	}
	
	#content-image {
		.box {
			margin-top: 20px;
			
			.navigation {
				width: 117px;
			}
			
			div {
				display: inline-block;
				vertical-align: middle;
			
				a {
					width: 117px;
					height: 58px;
					display: inline-block;
				}
			
				&:first-child {
					a {
						background: url(../images/prev.png);
					}
				}
				
				&:last-child {
					text-align: right;
				
					a {
						background: url(../images/next.png);
					}
				}
			}
			
			.center {
				width: 568px;
				
				img {
					max-width: 100%;
				}
			}
		}
		
		.comment {
			border-bottom: 1px dotted #195e7d;
			margin: 10px 20px;
			
			&:last-child {
				border-bottom: none;
				padding-bottom: 20px;
			}
			
			.head {
				div {
					display: inline-block;
					width: 383px;
				}
				
				.name {
					font-weight: bold;
				}
				
				.date {
					text-align: right;
				}
			}
			
			.content {
				margin: 10px 0;
			}
		}
		
		form {
			margin: 20px 0;
			text-align: center;
			
			textarea {
				width: 400px;
				height: 80px;
			}
			
			input[type="submit"] {
				margin-top: 10px;
			}
		}
		
		h2, .vote {
			text-align: center;
		}
		
		.vote {
			margin-top: 10px;
		}
	}

	#blank_layer, #likebox {
		position: absolute;
	}
	
	#container {
		background: url(../images/background.png) no-repeat #b6e8f8;
		min-height: 550px;
		color: #195e7d;
	}
	
	#content-profile {
		form {
			text-align: center;
			margin-top: 110px;
		}
	}
	
	#content-registration {
		form {
			text-align: center;
			margin-top: 110px;
		}
	}
	
	#content-welcome {
		form {
			text-align: center;
			margin-top: 35px;
			
			input[type="file"] {
				position:absolute;
				display:none;
			}
			
			#browse {
				width: 170px;
				cursor: pointer;
			}
		}
	}
}
