<p>Biztos, hogy törlöd a kiválasztott kommentet?</p>
<a href="{{ path('commentdel', { image_id : image_id, id: id, type : 2, token : csrf_token('token') } ) }}">Igen</a>
<a class="outer" id="close">Nem</a>
