{{ render(controller('SnfapiMainApplicationBundle:MainApplication:nav')) }}

<div id="content-image">
	<div id="msg">
		{{ form_errors(form.content) }}
	</div>
	
	<h2>{{ image.name }}</h2>
	
	<div class="box">
		<div class="navigation">
			{% if prev %}
				<a href="{{ path('image', { id : prev.id }) }}"></a>
			{% endif %}
		</div>
		
		<div class="center">
			<img src="{{ asset('uploads/images/medium/'~image.filename) }}" alt="" title="">
		</div>
		
		<div class="navigation">
			{% if next %}
				<a href="{{ path('image', { id : next.id }) }}"></a>
			{% endif %}
		</div>
	</div>
	{% if image.my_vote is defined and image.my_vote == 0 %}
		<div class="vote">
			<a class="button" href="{{ path('vote', { id : image_id, page : 1 }) }}">Szavazás</a>
		</div>
	{% endif %}
		
    <form novalidate action="{{ path('image', { 'id' : image_id }) }}" method="post" {{ form_enctype(form) }}>
        <div>{{ form_widget(form.content) }}</div>
		{{ form_rest(form) }}
        <input type="submit" value="Hozzászólok">
    </form>
	
	{% for comment in comments %}
		<div class="comment">
			<div class="head">
				<div class="name">{{ comment.name }}</div>
				<div class="date">
					{{ comment.date }}
					{% if(fb_uid == comment.fb_uid) %}
						- <a class="ajaxwidget" rel="#msg" href="{{ path('commentdel', { type: 1, id : comment.id, image_id : image_id } ) }}">[Törlés]</a>
					{% endif %}
				</div>
			</div>
			<div class="content">{{ comment.content|nl2br }}</div>
		</div>
	{% endfor %}
</div>
<script>
    {% if 
        form.content.vars.errors|length
    %}
        $('#msg').show();
    {% endif %}
</script>
