{{ render(controller('SnfapiMainApplicationBundle:MainApplication:nav', { active: active } )) }}

<div id="content-images">
	<div id="msg"></div>
	{% if images is empty %}
		<p class="no-images">Nincs feltöltött kép.</p>
	{% endif %}
	<div class="boxes">
	{% for image in images %}
			<div class="box">
				<div class="main light-layer">
					<a class="boxlink" href="{{ path('image', { id : image.id }) }}" class="ajaxload"></a>
					<div class="layer-main">
						<div class="name">{{ image.name }}</div>
						<div class="action">
							{{ image.all_vote }} szavazat
							{% if image.my_vote is defined and image.my_vote == 0 %}
								 | <a href="{{ path('vote', { id : image.id, page : page }) }}">Szavazás</a>
							{% endif %}
							{% if(fb_uid == image.fb_uid) %}
								<a class="ajaxwidget" rel="#msg" href="{{ path('imagedel', { type: 1, id : image.id } ) }}">[Törlés]</a>
							{% endif %}
						</div>
					</div>
				</div>
				<img src="{{ asset('uploads/images/small/'~image.filename) }}" alt="" title="">
			</div>
		{% endfor %}
	</div>
	
	{% if(all > page) %}
		<div class="navigator">
			<div class="prev">
				<a href="{{ path('images', { page : page - 1 }) }}"></a>
			</div>
			<div class="next">
				<a href="{{ path('images', { page : page + 1 }) }}"></a>
			</div>
		</div>
	{% endif %}
</div>
