<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Simon Network Facebook API{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ asset(bundle.assets~'css/less.php?env='~bundle.env) }}">
        <script src="https://connect.facebook.net/en_US/all.js"></script>
        <script src="{{ asset('bundles/snfapicore/js/jquery-1.9.1.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/snfapicore/js/jQuery.divAnimate.js') }}"></script>
        <script src="{{ asset('bundles/snfapicore/js/ajaxload.js') }}"></script>
        <script src="{{ asset('bundles/snfapicore/js/jquery.iframe-post-form.js') }}"></script>
        <script src="{{ asset('bundles/snfapicore/js/loadapi.js') }}"></script>
        <script src="{{ asset(bundle.assets~'js/init.js') }}"></script>
		<script>
			$(function() {
				$('#error, #blank_layer').show();
			});
		</script>
    </head>
    <body>
        <div id="fb-root"></div>
        {% block javascripts %}
            <script type="text/javascript">
                //loadApiInit({{ app_id }}, '{{ app_link }}');
            </script>
        {% endblock %}
		
		{# tartalmi rész #}
        <div id="container" data-page="{{ path(page) }}?{{ dataquery }}"></div>
		
		{# ha az oldalt nem lájkolták #}
        {% if fan_popup == false %}
			{# takaró layer, hogy a gombokat ne lehessen lenyomni a háttérben #}
			<div id="blank_layer"></div>
            <div id="likebox">
                <ul>
					<li>Az alkalmazás használatához kattints a Tetszik gombra!</li>
				</ul>
            </div>
        {% endif %}
    </body>
</html>