<div id="content-landing">
	<div class="logo">
		<img src="{{ asset(bundle.assets~'images/logo_full.png') }}" alt="Landscape" title="Landscape">
	</div>
	<p>
		Üdvözöllek a Landscape alkalmazásban. Regisztrálj és töltsd fel az általad fotózott képek valamelyikét, hogy mások is értékelhessék munkádat.
	</p>
	<h2>Tippek</h2>
	<div class="iframe">
		<iframe src="//www.youtube.com/embed/{{ video_id }}?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="button">
		<a class="button" href="{{ path('welcome') }}">Indítás</a>
	</div>
</div>