<nav>
	<img class="logo" src="{{ asset(bundle.assets~'images/logo.png') }}" alt="Landscape" title="Landscape">
	<ul>
		<li>
			<a {% if active == 'welcome' %}class="active" {% endif %}href="{{ path('welcome') }}">Pályázás</a>
		</li>
		<li>
			<a {% if active == 'images' %}class="active" {% endif %}href="{{ path('images') }}">Szavazás</a>
		</li>
		<li>
			<a {% if active == 'myimages' %}class="active" {% endif %}href="{{ path('myimages') }}">Saját képek</a>
		</li>
		<li>
			<a {% if active == 'profile' %}class="active" {% endif %}href="{{ path('profile') }}">Adataim módosítása</a>
		</li>
	</ul>
	<div>
		<a class="outer" href="https://facebook.com/{{ fb_uid }}" target="_blank"></a>
		<img src="http://graph.facebook.com/{{ fb_uid }}/picture?width=40&height=40" alt="Profil kép" title="Profil kép">
	</div>
</nav>

{# betöltő popup #}
<div id="loader">
	<img src="{{ asset(bundle.assets~'images/ajax-loader.gif') }}" alt="" title=""> Kérlek várj..
</div>