<div id="content-registration">
    <div id="msg">
        {{ form_errors(form.name) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.news) }}
    </div>
	
	<h2>Regisztráció</h2>
    
    <form novalidate action="{{ path('registration') }}" method="post" {{ form_enctype(form) }}>
        <div>{{ form_widget(form.name) }}</div>
        <div>{{ form_widget(form.email) }}</div>
        <div>{{ form_widget(form.news) }} Kérek hírlevelet</div>
        {{ form_rest(form) }}
        <input type="submit" value="Küldés">
    </form>
</div>
<script>
    {% if 
        form.name.vars.errors|length or 
        form.email.vars.errors|length or
        form.news.vars.errors|length
    %}
        $('#msg').show();
    {% endif %}
</script>