{{ render(controller('SnfapiMainApplicationBundle:MainApplication:nav', { active: 'welcome' })) }}

<div id="content-welcome">
	<div id="msg">
        {{ form_errors(form.name) }}
        {{ form_errors(form.image) }}
    </div>
	
	<h2>Pályázás</h2>

	<p>
		Töltsd fel az általad készített képet. Egy felhasználó több munkádat is értékelheti a szavazatával, így több művel is pályázhatsz.
	</p>
    
    <form novalidate action="{{ path('welcome') }}" method="post" {{ form_enctype(form) }}>
        <div>{{ form_widget(form.name) }}</div>
		
		<div>
			{{ form_widget(form.image) }}
			<img src="{{ asset(bundle.assets~'images/folder.png') }}" alt="Tallózás" title="Tallózás" id="browse">
		</div>
		
        {{ form_rest(form) }}
        <div>
			<input type="submit" value="Feltölt">
		</div>
    </form>
</div>
<script>
    {% if 
        form.name.vars.errors|length or 
        form.image.vars.errors|length
    %}
        $('#msg').show();
    {% endif %}
	$('#browse').click(function () {
		$('input[type="file"]').click();
	});
</script>
