/* Checkbox */
.jquery-checkbox {
	display: inline;
	font-size: 12px;
	line-height: 25px;
	cursor: pointer;
}

.jquery-checkbox img {
	vertical-align: middle;
	width: 16px;
	height: 15px;
}

#chb_avny img {
	background: transparent url(../images/pipe_no.jpg);
	width: 16px;
	height: 15px;
}

.jquery-checkbox-checked img {
	background: transparent url(../images/pipe_yes.jpg) no-repeat !important;
}
