<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Myrtis Creative{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset(bundle.assets~'css/main.css.php') }}">
	</head>
	<body>
		<div id="self-container">
			<header>
				<h1>Self-Test</h1>
			</header>
			<section style="display: block;">
				<h2>Facebook API adatok</h2>
				<article>
					<p>Bejelentkezett felhasználó:</p>
					<p>{{ fb_uid }}</p>
				</article>
					
				<article>
					<p>Access Token:</p>
					<p>{{ access_token }}</p>
				</article>
				
				<h2>Konténer adatok</h2>
				<p>
					{% for index, key in main_app_config %}
						<h3>{{ index }}</h3>
						{% for index, key in main_app_config[index] %}
							<p>{{ index }} => {{ key }}</p>
						{% endfor %}
					{% endfor %}
				</p>
			</section>
			<footer>
				Main Application Bundle Self-Test
			</footer>
		</div>
	</body>
</html>