<!DOCTYPE html>

<html>

    <head>

        <title>SNF API</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="icon"       type="image/x-icon" href="{{ asset('bundles/corebundle/favicon.ico') }}" />
        <link rel="stylesheet" type="text/css"     href="{{ asset('bundles/corebundle/error.css') }}" />

    </head>

    <body>

        <div id="container">

            <h1>{{ code }}</h1>

            <p>{{ text }}</p>

        </div>

    </body>

</html>
